.main{
    background: #131316;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    margin:0 auto;
    justify-content: center;
}
.section{
  flex:1 1 auto;
  width: 600px;
  border-radius: 10px 10px 0 0; 
}
.modal{
  position: absolute;

}