.main{
    position:absolute;
    width: 100%;
    
}
.main div{
    padding: 200px 0;
    margin: 0,auto;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
}
.section {
    flex:1 1 auto;
    text-align: center;
}
.section a{
    color: white;
}