.modal{
    position: relative;
    border: #4C4CFF33;
  border-radius: 10px;
  background-color: #1C1C21;
  border-width: 1px;  
  display: flex;
  flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
