.modal{
    position: relative;
    border: #4C4CFF33;
  border-radius: 10px;
  background-color: #1C1C21;
  border-width: 1px;  
  display: flex;
  flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.background{  
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: appear;
    animation-duration: 300ms;
  
}