.App {
  text-align: center;
  color: #FFFFFF;
}
main{
    background: #131316;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    margin:0 auto;
}
section{
  flex:1 1 auto;
  width: 600px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px 10px 0 0; 

}
section::-webkit-scrollbar {
  width: 8px;
  background-color: #f9f9fd;
}
section::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
img{
  width: 240px;
  height: 130px;
}