nav{
    background: #1C1C21;    
    
}
header{
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row; 
    flex-grow:0;
    justify-content: space-around;
      
}

.logo{    
    position: absolute;
    margin: 0,auto;
    
}
.left{
    justify-self: left;
}
.right{
    justify-self: right;
}
.nav{
    display: flex;
    flex-direction: row;
    margin:0 auto;
    align-items: center;
    align-self: center;
}
.nav_item_right{

   align-self: flex-end;

}
.nav_item_left{
    align-self: flex-start;
}
